	/*引入 阿里图片库 离线*/
/* 	@font-face {
	  font-family: 'iconfont';  
	  src: url('static/font_ali/iconfont.eot');
	  src: url('static/font_ali/iconfont.eot?#iefix') format('embedded-opentype'),
	  url('static/font_ali/iconfont.woff2') format('woff2'),
	  url('static/font_ali/iconfont.woff') format('woff'),
	  url('static/font_ali/iconfont.ttf') format('truetype'),
	  url('static/font_ali/iconfont.svg#iconfont') format('svg');
	} */
	
	/*引入 阿里图片库 在线*/
@font-face {
  font-family: 'iconfont';  /* project id 1780043 */
  src: url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.eot');
  src: url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.woff') format('woff'),
  url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1780043_k9mo6p56trh.svg#iconfont') format('svg');
}
	.iconfont {
	  font-family:"iconfont" !important;
	  font-size:50rpx;
	  color: orange;
	  font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.iconmaidan:before{	/* 买单 */
		content: "\e638";
	}
	.iconchashuijian:before{/* 茶水 */
		content: "\e602";
	}
	.icondaohang:before{/* 导航 */
		content: "\e640";
	}
	.icontianchongxing-:before{/* 钱包 */
		content: "\e63b";
	}
	.icondian:before{/* 点 */
		content: "\ec1e";
	}
	.iconzuanshi:before{/* 钻石 */
		content: "\e675";
	}
	.icondingdan:before{/* 订单 */
		content: "\e62e";
	}
	.icondaifukuan:before{/* 代付款 */
		content: "\e690";
	}
	.icondaishouhuo:before{/* 待收货 */
		content: "\e64c";
	}
	.icontuikuan:before{/* 退款 */
		content: "\e60f";
	}
	.icon-lishi:before{/* 历史 */
		content: "\e8bd";
	}
	.icon-dizhi:before{/* 地址 */
		content: "\e62c";
	}
	.icon-shouchang:before{/* 收藏 */
		content: "\e61a";
	}
	.icon-fenxiang:before{/* 分享 */
		content: "\e6d5";
	}
	.icon-xiaoxi:before{/* 消息 */
		content: "\e626";
	}
	.icon-shezhi:before{/* 设置 */
		content: "\e611";
	}
	.icon-qianbao2:before{/* 钱包2 */
		content: "\e610";
	}
	.icon-jiantou:before{/* 箭头 */
		content: "\e637";
	}
	.icon-shangjiantou:before{/* 上箭头 */
		content: "\e619";
	}
	.icon-xiajiantou:before{/* 下箭头 */
		content: "\e61b";
	}
	.icon-fenlei:before{/* 分类 */
		content: "\e624";
	}